[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"

[packages]
aws-cdk-core = "*"
aws-cdk-aws-codepipeline = "*"
aws-cdk-aws-codepipeline-actions = "*"
aws-cdk-aws-codecommit = "*"
aws-cdk-aws-iam = "*"
aws-cdk-aws-codebuild = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
